

<div class="users edit">
  <h2>Update User</h2>
  <%= form_for(:user, :url => {:action => 'update', :id => @user.id}) do |f| %>
  <%= render(:partial => "form", :locals => {:f => f}) %>
    <div class="form-buttons">
      <%= submit_tag("この内容に変更する") %>
    </div>
  <% end %>
<%= link_to("戻る", {:controller => 'access', :action => 'index'}) %>
</div>