<div class="page">
	<div class="container">
		<article class="service col-sm-12 col-lg-12">
		<h2>死亡判定方法</h2>
		<p>今から数分後、あなたは交通事故にあって死ぬかもしれない。あなたの恋人や妻や子供達はそれを知ったらどうするだろう。そんなとき遺された人はどうなるだろう。大切な人に、感謝の言葉を伝えずに終わっていいのだろうか。</p>
		</article>
	</div>
</div><!-- page -->

