<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="admin_users delete">
  <h2>Delete AdminUsers</h2>
  <%= form_for(:admin_user, :url => {:action => 'destroy', :id => @user.id}) do |f| %>

    <p>このユーザーを削除してよろしいですか？</p>
    <p class="reference-name"><%= @user.name %></p>

    <div class="form-buttons">
      <%= submit_tag("Delete User") %>
    </div>
  <% end %>
</div