<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="users will">
  <h2>Will 内容</h2>
  <%= form_for(:your_will, :url => {:action => 'update', :id => @your_will.id}) do |f| %>
  <%= render(:partial => "form", :locals => {:f => f}) %>
  <% end %>
</div>