<ol class="breadcrumb">
  <li><%= link_to "HOME", :controller => '/public' %></li>
  <li class="active">Willとは</li>
</ol><!-- breadcrumbs -->
<h2>Willとは</h2>
<p>今から数分後、あなたは交通事故にあって死ぬかもしれない。あなたの恋人や妻や子供達はそれを知ったらどうするだろう。そんなとき遺された人はどうなるだろう。大切な人に、感謝の言葉を伝えずに終わっていいのだろうか。</p>
<div class="conten container">
  <h2>Services</h2>
  <div class="row">
	  <article class="service col-sm-6">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	  </article>
	  <article class="service col-sm-6">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	  </article>
	  <article class="service col-sm-6">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	  </article>
  </div>
</div><!-- conten container -->