
<div class="container">
	<ol class="breadcrumb">
	  <li><%= link_to "HOME", :controller => '/public' %></li>
	  <li class="active">Willとは</li>
	</ol><!-- breadcrumbs -->
</div><!-- container -->
<div class="page" id="about">
	<div class="container">
		<article class="service col-sm-12 col-lg-12">
		<h2>Willとは</h2>
		<p>今から数分後、あなたは交通事故にあって死ぬかもしれない。あなたの恋人や妻や子供達はそれを知ったらどうするだろう。そんなとき遺された人はどうなるだろう。大切な人に、感謝の言葉を伝えずに終わっていいのだろうか。</p>
		</article>
	</div>
	<div class="container">
		<article class="service col-sm-12 col-lg-12">
		<h2>Willとは</h2>
		<p>今から数分後、あなたは交通事故にあって死ぬかもしれない。あなたの恋人や妻や子供達はそれを知ったらどうするだろう。そんなとき遺された人はどうなるだろう。大切な人に、感謝の言葉を伝えずに終わっていいのだろうか。</p>
		</article>
	</div><!-- container -->
</div><!-- page -->
<div class="page" id="how_to_use">
	<div class="container">
		<h2>使い方</h2>
	  <article class="service col-sm-4 col-lg-4">
		<h3>遺書の登録</h3>

		<p>遺書を届けたい相手のメールアドレスを登録して、遺書を書きます。</p>
	  </article>
	  <article class="service col-sm-4 col-lg-4">
		<h3>死亡判定の設定</h3>
		<p>死亡判定は本人宛に送られるメールを一定の回数クリックしなかったことによって死亡と判定され、死亡判定されると登録された遺書がそれぞれの宛先に送られます。</p>
	  </article>
	  <article class="service col-sm-4 col-lg-4">
		<h3>テストメールの受信</h3>
		<p>登録直後にメールが送られます。これは迷惑フォルダなどに入って気付かないうちに死亡扱いされて遺書が発想されるのを防ぐためのものです。最初のテストメールの認証をクリックして初めて遺書の送付準備が整います。</p>
	  </article>
  </div><!-- container -->
</div><!-- page -->
