<!DOCTYPE html>
<html>
<head>
  <title>Will</title>
</head>
<body>
  <div id='header'>
    <%= link_to('管理者ログイン', {:controller => 'admin_access', :action => 'login'})%>
    <%= link_to('ログイン', {:controller => 'access', :action => 'login'})%>
    <%= link_to('新規登録', {:controller => 'users', :action => 'new'})%>
  </div>
  <div id='navigation'>
  	<ul>
  	 <li>「最後の言葉」とは</li>
  	 <li>使い方</li>
   	 <li>最後の言葉</li>
  	</ul>
  </div>
<%= yield %>

</body>
</html>
